.fileUploader {
  width: 100%;
  padding-top: 30px;
  text-align: center;

  .fileContainer {
    text-align: center;

    div {
      h1,
      p {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px;
      }
    }
  }

  .uploadBtn,
  .chooseFileBtn {
    color: #ffffff;
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }

  .chooseFileWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff;
  }

  .chooseFileWrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .loadingSymbol {
    position: relative;
    margin: 30px auto 0 auto;
  }

  .predictionsWrapper {
    margin-top: 30px;

    .prediction {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 5px;
    }
  }
}

.uploadImageWrapper {
  margin-top: 30px;

  .uploadPictureContainer {
    margin-bottom: 30px;

    .deleteImgWrapper {
      width: 15%;
      margin-left: auto;
      margin-right: auto;

      .deleteImage {
        width: 20px;
        height: 20px;
        background-image: url("./assets/close.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }
  }
}

.uploadPicture {
  width: 10%;
}
